body,html
{ 
  margin-top:0;
  margin-left: 0em;
  margin-right:0em;
  padding: 0;
  color: #444;
  font:10pt "Bitstream Vera Sans",Verdana,sans-serif;
  background-color:white;
}

.splash {
  background-position-x: 50%;
  background-position-y: 0px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  width: 100%;
  position: fixed;
}

.full-content {
  padding: 625px 0 0 0;
  background-size: cover;
}

/* nav bar */

header {
  position: fixed;
  height: 125px;
  padding-bottom: 30px;
  background-color: white;
  width: 100%;
  background-image:
    linear-gradient(
       #99D7DC, #8BCCD2
    );
  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
 }
        
header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 50px;
  background-color: white;
  background-image:
    linear-gradient(
       #99D7DC, #8BCCD2
    );
  padding-left: 20px;
}

.fixednav {
  position: fixed;
  background-color: white;
  width: 100%;
  background-image:
    linear-gradient(
       #99D7DC, #8BCCD2
    );
  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 20;
 }

h1.fixed {
  font-family: 'Maven Pro', sans-serif;
  }

h1.fixed {
  font-size:28px;
  letter-spacing:3px;
  line-height: 30px;
  }

#navbar a { color:#fff; border:none; }

#navbar :link:hover,
#navbar :visited:hover {
   color:#647a8e;
   background-color: #ccc;
} 

.date {
  color: #aaa;
  font-size: 11px;
  line-height: 20px;
}

.news.block {
  margin-top: 16px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* background */

.gradient {
  height: 450px;
  padding-bottom: 30px;
  background-color: white;
  background-image:
    linear-gradient(
       #9AD8DD, #45ACB6
    );
}

.module {
  background: 
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(69, 172, 182, 1)
    ),
    url('/images/mapdesign.png') 100% 100% repeat;
  background-size: cover;
  height: 175px;
}

.gradient2 {
  height: 220px;
  background-image:
    linear-gradient(
       #9AD8DD, #388991
    );
}


/* TABS */

.container{
  width: 500px;
  margin: 0 auto;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
 }

ul.tabs li{
  /*background: none;
  color: #222;*/
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #8BD1D6;
  color: #fff;
}

.tab-content{
  display: none;
  background: #FFF;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}


/* Colors */

.fill-sky {
  background: #45ACB6;
}

.fill-skylite {
  background: #9AD8DD;
}

.fill-lightblue {
  background: rgb(217, 234, 236);
}

.fill-sea {
  background: #388991;
}

.fill-cream {
  background: #EEEEEE;
}

.fill-steel {  /* light gray */
  background: #B9B9B9;
}

.fill-metal { /* dark gray */
  background: #535353;
}



/* Buttons */
.button.stroke {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #3887BE inset;
}

.pill .button.stroke {
  border: none;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset;
  /* light: 251, 252, 239 yellow: 244, 247, 216 */
  border-right-width: 1px;
  border-left-width: 0;
}

.pill .button.stroke:hover,
.button.stroke:hover {
  background-color: rgb(255, 255, 255);
  color: #45ACB6;
  /* yellow: rgb(244, 247, 216) blue: #4B94D0 */
}

.pill .button.stroke:not(:first-of-type) {
    margin-left: -2px;
}

/* 2nd buttons  */
.pill .button.stroke.light {
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(139, 209, 214) inset;
  /* yellow: rgb(150, 189, 192)  olive: rgba(191, 192, 178, 0.5) light: 251, 252, 239 yellow: 244, 247, 216 */
  border-right-width: 1px;
  border-left-width: 0;
  color: rgb(48, 177, 187);
}

.pill .button.stroke.light:hover,
.button.stroke.light:hover {
  background-color: rgb(147, 212, 218);
  /* light blue: rgba(244, 247, 216, 0.5); yellow: rgb(150, 189, 192); |  rgba(244, 247, 216, 0.35); */
  color: rgb(255,255,255) ;
}

.button.fill-green { background: #67BEC6; }

.button.fill-green:hover { background: #7F9B50; }

.fill-ltblue {
	background-color: #4B94D0;
}

/* CODE BINDINGS TABS */

.bindings {
  background: #E9EDEE;
  border: 1px solid;
  border-left-width: 10px;
  border-color: rgb(150, 189, 192);
  color: #000;
  direction: ltr;
  font-size: 0.8rem;
  margin: 1em 0 2em;
  text-align: left;
  max-width: 50%;
}

.errorlist {
	color: #f00;
}

.errors {
	color: #f00;
}

.big {
  font-size: 36px;
  line-height:50px;
  color:rgba(48, 177, 187, 1);
  font-family:'Open Sans Light';
}

.big.light {
  font-size: 36px;
  line-height:50px;
  color:rgba(255,255,255,0.5);
}

.lite {
  line-height:50px;
  color:rgba(255,255,255,0.35);
  word-spacing: 15px;
}

.med {
  font-size: 24px;
  line-height:50px;
  color:rgba(48, 177, 187, 1);
  font-family:'Open Sans Light';
}

/* TOC NAV */
.toc-wrap.affix {
  position: fixed;
  bottom: 15px;
  left: 0px;
  padding-left: 30px;
  top: 143px;
}

.toc-wrap.affix-bottom {
  position: absolute;
  bottom: inherit;
  left: 0px;
  top: 43px;
}


@media (min-width: 640px) {
  .toc {
    max-width: 250px;
    float: left;
  }

  .toc-wrap {
    max-width: 300px;
    font-size: 13px;
    padding-right: 20px;
  }
  .toc-wrap.affix,
  .toc-wrap.affix-bottom {
    overflow: auto;
	width: 100%;
  }
}


@media only screen and (max-width: 640px) {

  .toc-wrap.affix-bottom,
  .toc-wrap.affix {
    position: static;
    width: 100%;
  }

}

@media only screen and (max-width: 640px) {

  .toc {
    border: 1px solid rgba(0,0,0,0.10);
    margin-bottom: 20px;
  }

  .toc li {
    padding:0;
    margin:0;
  }

  .toc li a { padding:10px; }
  .toc li:not(:last-child) a { border-bottom:1px solid rgba(0, 0 ,0 , .10); }

}


/* Links */
.dark a.white,
.dark a:visited.white,
.dark a.active .white ,
.dark a.white :hover,
.dark a:link.white, :visited {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
  background: transparent;
  }

.highlight code {
  font-size:12px;
  line-height:20px;
  border-radius: 3px;
  }

.highlight pre {
  font-size:12px;
  line-height:20px;
  border-radius: 3px;
  margin-bottom: 3px;
  }

.highlight pre {
  display:block;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  -moz-tab-size:4;
  tab-size: 2;
}





/* added above */




/* h1,h2,h3,h4,h5 {color:#073f93;font-weight:normal;} */
h1 {font-size: 16pt;}
h2 {font-size: 14pt;}
:link, :visited {
 text-decoration: none;
 color: #a00;
 border-bottom: 1px dotted #bbb;
}
:link:hover, :visited:hover {
 background-color: #eee;
 color: #448;
}

img { border: none; vertical-align: middle;}
img 
{
  border: none;
  vertical-align: middle;
}

#wrap-front
{
width:775px; 
margin: 0 auto;
border: 1px solid #ccc;
background-color:#fbfbfb;
}

#map
{
    border:1px solid white;
    opacity: 2.0;
}

#wrap
{ 
width:775px;
margin: 0 auto;
padding:0;
border: 1px solid #ccc;
background-color:#fbfbfb;
}


#header
{
   background: url(/images/bg-head.png) repeat-x;
   height:70px;
   margin:0;
}

#header a {background:none;border:none;}

#main 
{
padding-top: 0.2em;
padding-bottom: 4em;
margin: 0.2em 260px 0 0;
}

#sidebar {
float: right;
width: 260px;
margin-right:0;
}

#footer
{
   clear:both;
   text-align:center;
   padding:1em;
   background:transparent;
}

#content
{
   margin-top:0em;
   margin-left:1em; 
   padding-left:0.4em;
   padding-right:0.4em;
}

#content-secondary
{

   padding:1em;
   color:#073f93;
   background-color:#ddd;
}

#portlet
{
   margin-left:0.4em;
   margin-right:0.4em;
   margin-top:0em; 
   margin-bottom:1em;
   padding-left:0.6em; 
   padding-right:0.4em; 
   border:1px solid #fbfbfb;
   background: #fbfbfb url(/images/bg-portlet.png) repeat-x;
}

#portlet-clear
{
   margin-left:0.4em;
   margin-right:0.4em;
   margin-top:0em; 
   margin-bottom:1em;
   padding-left:0.6em; 
   padding-right:0.4em; 
   background: transparent;
}

#button a {text-decoration:none;background-color:transparent}

code
{
  font-family: monospace;
  color: #8c8c8c;
}

pre
{
   padding: 0.6em; 
   margin:0 10px 0 0;
   overflow: scroll;
   width:95%;
   border-radius: 2px;
}

.banner-center
{
   padding:0;
   margin-left:0;
   margin-right:0;
   margin-top:0;
   margin-bottom:0;
   text-align:center;
   background-color:transparent;
   border:none;
}

.frontcolumn 
{
    width: 30%;
    float: left;
    padding-right:3%;	
}

.frontcolumndouble {
   width: 63%;
   float: left; 
   padding-right:3%;
}

.frontcolumnlast {
   width: 33%;
   float: left;
}

