body,html
{ 
  margin-top:0;
  margin-left: 0em;
  margin-right:0em;
  padding: 0;
  color:#000;
  font:10pt "Bitstream Vera Sans",Verdana,sans-serif;
  background-color:white;
}

.fill-ltblue {
	background-color: #4B94D0;
}

.errorlist {
	color: #f00;
}

.errors {
	color: #f00;
}

.big {
  font-size: 36px;
  line-height:50px;
  color: #aaa;
}

.big2 {
  font-size: 36px;
  line-height:50px;
  color: #939FB3;
}


/* TOC NAV */
.toc-wrap.affix {
  position: fixed;
  bottom: 15px;
  left: 0px;
  padding-left: 30px;
  top: 143px;
  /*
  margin-top: -200px;
  */
}

.toc-wrap.affix-bottom {
  position: absolute;
  bottom: inherit;
  left: 0px;
  top: 43px;
  
  /*   top: auto !important; 
  margin-top: -200px;
   bottom: 265px; position: absolute; */
}


@media (min-width: 640px) {
  .toc {
    max-width: 250px;
    float: left;
  }

  .toc-wrap {
    max-width: 300px;
    font-size: 13px;
    padding-right: 20px;
  }
  .toc-wrap.affix,
  .toc-wrap.affix-bottom {
    overflow: auto;
	width: 100%;
    /* max-width: 17%; */
  }
}



@media only screen and (max-width: 640px) {

  .toc-wrap.affix-bottom,
  .toc-wrap.affix {
    position: static;
    width: 100%;
  }

}


@media only screen and (max-width: 640px) {

  .toc {
    border: 1px solid rgba(0,0,0,0.10);
    margin-bottom: 20px;
  }

  .toc li {
    padding:0;
    margin:0;
  }

  .toc li a { padding:10px; }

  .toc li:not(:last-child) a { border-bottom:1px solid rgba(0, 0 ,0 , .10); }

}


/* Links */
.dark a.white,
.dark a:visited.white,
.dark a.active .white ,
.dark a.white :hover,
.dark a:link.white, :visited {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
  background: transparent;
  }

.highlight code {
  font-size:12px;
  line-height:20px;
  padding: 3px;
  border-radius: 3px;
  margin: 20px;
  }

.highlight pre {
  background:rgba(0,0,0,0.025);
  font-size:12px;
  line-height:20px;
  padding: 3px;
  border-radius: 3px;
  margin: 20px;
  }

.highlight pre {
  display:block;
  padding: 10px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  -moz-tab-size:4;
  tab-size: 2;
  /*height: 250px;*/
  margin: 20px;
}

/* added above */




/* h1,h2,h3,h4,h5 {color:#073f93;font-weight:normal;} */
h1 {font-size: 16pt;}
h2 {font-size: 14pt;}
:link, :visited {
 text-decoration: none;
 color: #a00;
 border-bottom: 1px dotted #bbb;
}
:link:hover, :visited:hover {
 background-color: #eee;
 color: #448;
}

img { border: none; vertical-align: middle;}
img 
{
  border: none;
  vertical-align: middle;
}

#wrap-front
{
width:775px; 
margin: 0 auto;
border: 1px solid #ccc;
background-color:#fbfbfb;
}

#map
{
    border:1px solid white;
    opacity: 2.0;
}

#wrap
{ 
width:775px;
margin: 0 auto;
padding:0;
border: 1px solid #ccc;
background-color:#fbfbfb;
}


#header
{
   background: url(/images/bg-head.png) repeat-x;
   height:70px;
   margin:0;
}

#header a {background:none;border:none;}

#navbar
{
   padding:0.4em;
   background-color:#647a8e;
}

#navbar a {color:#fff;border:none;}
#navbar ul{
    margin:0;
    padding:0;
    list-style:none;
}

#navbar li {display:inline;margin:0;padding:0.2em;}
#navbar :link:hover,#navbar :visited:hover
{
   color:#647a8e;
   background-color: #ccc;
} 

#main 
{
padding-top: 0.2em;
padding-bottom: 4em;
margin: 0.2em 260px 0 0;
}

#sidebar {
float: right;
width: 260px;
margin-right:0;
}

#footer
{
   clear:both;
   text-align:center;
   padding:1em;
   background:transparent;
}

#content
{
   margin-top:0em;
   margin-left:1em; 
   padding-left:0.4em;
   padding-right:0.4em;
}

#content-secondary
{

   padding:1em;
   color:#073f93;
   background-color:#ddd;
}

#portlet
{
   margin-left:0.4em;
   margin-right:0.4em;
   margin-top:0em; 
   margin-bottom:1em;
   padding-left:0.6em; 
   padding-right:0.4em; 
   border:1px solid #fbfbfb;
   background: #fbfbfb url(/images/bg-portlet.png) repeat-x;
}

#portlet-clear
{
   margin-left:0.4em;
   margin-right:0.4em;
   margin-top:0em; 
   margin-bottom:1em;
   padding-left:0.6em; 
   padding-right:0.4em; 
   background: transparent;
}

#button a {text-decoration:none;background-color:transparent}

code
{
  font-family: monospace;
  color: #8c8c8c;
}

pre
{
   background: #f0f0ff;
   border: 1px solid #d7d7ff;
   padding: 0.6em; 
   margin:0 10px 0 0;
   -moz-box-shadow:0 3px 0 #fff;-webkit-box-shadow:0 3px 0 #fff;box-shadow:0 3px 0 #fff;
   overflow: scroll;
   width:95%;
   border-radius: 2px;
}

.banner-center
{
   padding:0;
   margin-left:0;
   margin-right:0;
   margin-top:0;
   margin-bottom:0;
   text-align:center;
   background-color:transparent;
   border:none;
}

.frontcolumn 
{
    width: 30%;
    float: left;
    padding-right:3%;	
}

.frontcolumndouble {
   width: 63%;
   float: left; 
   padding-right:3%;
}

.frontcolumnlast {
   width: 33%;
   float: left;
}

