body,html
{ 
  margin-top:0;
  margin-left: 0em;
  margin-right:0em;
  padding: 0;
  color: #444;
  font:10pt "Bitstream Vera Sans",Verdana,sans-serif;
  background-color:white;
}

.gradient {
  /*height: 250px;*/
  padding-bottom: 30px;
  background-color: white;
  background-image:
    linear-gradient(
       #9AD8DD, #45ACB6
    );
/*linear-gradient( #9AD8DD, #45ACB6 )
#67b2db, #3384B1*/
}

/* Colors */

.fill-sky {
  background: #45ACB6;
}

.fill-skylite {
  background: #9AD8DD;
}

.fill-sea {
  background: #388991;
}

.fill-cream {
  background: #EEEEEE;
}

.fill-steel {  /* light gray */
  background: #B9B9B9;
}

.fill-metal { /* dark gray */
  background: #535353;
}



/* Buttons */
.button.stroke {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #3887BE inset;
}

.pill .button.stroke {
  border: none;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset;
  /* light: 251, 252, 239 yellow: 244, 247, 216 */
  border-right-width: 1px;
  border-left-width: 0;
}

.pill .button.stroke:hover,
.button.stroke:hover {
  background-color: rgb(255, 255, 255);
  color: #45ACB6;
  /* yellow: rgb(244, 247, 216) blue: #4B94D0 */
}

.pill .button.stroke:not(:first-of-type) {
    margin-left: -2px;
}

/* 2nd buttons  */
.pill .button.stroke.light {
  border: none;
  box-shadow: 0px 0px 0px 1px rgb(150, 189, 192) inset;
  /* yellow: rgb(150, 189, 192)  olive: rgba(191, 192, 178, 0.5) light: 251, 252, 239 yellow: 244, 247, 216 */
  border-right-width: 1px;
  border-left-width: 0;
  color: rgb(150, 189, 192);
}

.pill .button.stroke.light:hover,
.button.stroke.light:hover {
  background-color: rgb(79, 177, 187);
  /* light blue: rgba(244, 247, 216, 0.5); yellow: rgb(150, 189, 192); |  rgba(244, 247, 216, 0.35); */
  color: rgb(255,255,255) ;
}

.button.fill-green { background: #67BEC6; }

.button.fill-green:hover { background: #7F9B50; }

.fill-ltblue {
	background-color: #4B94D0;
}

/* CODE BINDINGS TABS */

.bindings {
  background: #f0f4f5;
  border: 1px solid;
  border-left-width: 10px;
  border-color: rgb(150, 189, 192);
  color: #000;
  direction: ltr;
  font-size: 0.8rem;
  margin: 1em 0 2em;
  padding: 1em;
  text-align: left;
}

.errorlist {
	color: #f00;
}

.errors {
	color: #f00;
}

.big {
  font-size: 36px;
  line-height:50px;
  color:rgba(0,0,0,0.35);
  /* color: rgba(205, 217, 218, 1); */
  /* ice blue: rgba(205, 217, 218, 1)  deep green: (145, 147, 119) soft green: rgb(176, 178, 157) */
  font-family:'Open Sans Light';
}

.big.light {
  font-size: 36px;
  line-height:50px;
  color:rgba(255,255,255,0.35);
  /* color: rgba(150, 189, 192, 1); */
  /* deep blue: rgba(150, 189, 192, 1)  olive green: rgba(89, 105, 73, 0.5); */
}


/* TOC NAV */
.toc-wrap.affix {
  position: fixed;
  bottom: 15px;
  left: 0px;
  padding-left: 30px;
  top: 143px;
  /*
  margin-top: -200px;
  */
}

.toc-wrap.affix-bottom {
  position: absolute;
  bottom: inherit;
  left: 0px;
  top: 43px;
  
  /*   top: auto !important; 
  margin-top: -200px;
   bottom: 265px; position: absolute; */
}


@media (min-width: 640px) {
  .toc {
    max-width: 250px;
    float: left;
  }

  .toc-wrap {
    max-width: 300px;
    font-size: 13px;
    padding-right: 20px;
  }
  .toc-wrap.affix,
  .toc-wrap.affix-bottom {
    overflow: auto;
	width: 100%;
    /* max-width: 17%; */
  }
}


@media only screen and (max-width: 640px) {

  .toc-wrap.affix-bottom,
  .toc-wrap.affix {
    position: static;
    width: 100%;
  }

}

@media only screen and (max-width: 640px) {

  .toc {
    border: 1px solid rgba(0,0,0,0.10);
    margin-bottom: 20px;
  }

  .toc li {
    padding:0;
    margin:0;
  }

  .toc li a { padding:10px; }

  .toc li:not(:last-child) a { border-bottom:1px solid rgba(0, 0 ,0 , .10); }

}


/* Links */
.dark a.white,
.dark a:visited.white,
.dark a.active .white ,
.dark a.white :hover,
.dark a:link.white, :visited {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
  background: transparent;
  }

.highlight code {
  font-size:12px;
  line-height:20px;
  padding: 3px;
  border-radius: 3px;
  margin: 20px;
  }

.highlight pre {
  background:rgba(0,0,0,0.025);
  font-size:12px;
  line-height:20px;
  padding: 3px;
  border-radius: 3px;
  margin: 20px;
  }

.highlight pre {
  display:block;
  /* padding: 10px; */
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  -moz-tab-size:4;
  tab-size: 2;
  /*height: 250px;*/
  margin: 20px;
}





/* added above */




/* h1,h2,h3,h4,h5 {color:#073f93;font-weight:normal;} */
h1 {font-size: 16pt;}
h2 {font-size: 14pt;}
:link, :visited {
 text-decoration: none;
 color: #a00;
 border-bottom: 1px dotted #bbb;
}
:link:hover, :visited:hover {
 background-color: #eee;
 color: #448;
}

img { border: none; vertical-align: middle;}
img 
{
  border: none;
  vertical-align: middle;
}

#wrap-front
{
width:775px; 
margin: 0 auto;
border: 1px solid #ccc;
background-color:#fbfbfb;
}

#map
{
    border:1px solid white;
    opacity: 2.0;
}

#wrap
{ 
width:775px;
margin: 0 auto;
padding:0;
border: 1px solid #ccc;
background-color:#fbfbfb;
}


#header
{
   background: url(/images/bg-head.png) repeat-x;
   height:70px;
   margin:0;
}

#header a {background:none;border:none;}

#navbar
{
   padding:0.4em;
   background-color:#647a8e;
}

#navbar a {color:#fff;border:none;}
#navbar ul{
    margin:0;
    padding:0;
    list-style:none;
}

#navbar li {display:inline;margin:0;padding:0.2em;}
#navbar :link:hover,#navbar :visited:hover
{
   color:#647a8e;
   background-color: #ccc;
} 

#main 
{
padding-top: 0.2em;
padding-bottom: 4em;
margin: 0.2em 260px 0 0;
}

#sidebar {
float: right;
width: 260px;
margin-right:0;
}

#footer
{
   clear:both;
   text-align:center;
   padding:1em;
   background:transparent;
}

#content
{
   margin-top:0em;
   margin-left:1em; 
   padding-left:0.4em;
   padding-right:0.4em;
}

#content-secondary
{

   padding:1em;
   color:#073f93;
   background-color:#ddd;
}

#portlet
{
   margin-left:0.4em;
   margin-right:0.4em;
   margin-top:0em; 
   margin-bottom:1em;
   padding-left:0.6em; 
   padding-right:0.4em; 
   border:1px solid #fbfbfb;
   background: #fbfbfb url(/images/bg-portlet.png) repeat-x;
}

#portlet-clear
{
   margin-left:0.4em;
   margin-right:0.4em;
   margin-top:0em; 
   margin-bottom:1em;
   padding-left:0.6em; 
   padding-right:0.4em; 
   background: transparent;
}

#button a {text-decoration:none;background-color:transparent}

code
{
  font-family: monospace;
  color: #8c8c8c;
}

pre
{
   background: #f0f0ff;
   border: 1px solid #d7d7ff;
   padding: 0.6em; 
   margin:0 10px 0 0;
   -moz-box-shadow:0 3px 0 #fff;-webkit-box-shadow:0 3px 0 #fff;box-shadow:0 3px 0 #fff;
   overflow: scroll;
   width:95%;
   border-radius: 2px;
}

.banner-center
{
   padding:0;
   margin-left:0;
   margin-right:0;
   margin-top:0;
   margin-bottom:0;
   text-align:center;
   background-color:transparent;
   border:none;
}

.frontcolumn 
{
    width: 30%;
    float: left;
    padding-right:3%;	
}

.frontcolumndouble {
   width: 63%;
   float: left; 
   padding-right:3%;
}

.frontcolumnlast {
   width: 33%;
   float: left;
}

