<h2 id='mapnik-install'>Mapnik Installation</h2>

<p>Mapnik is cross platform and runs on Linux, Mac OSX, Solaris, *BSD, and Windows.</p>


<p>To configure and build Mapnik:</p>

{% highlight bash %}

    ./configure
    make

{% endhighlight %}

<p>NOTE: The above will not work on windows, rather see <a href="https://github.com/mapnik/mapnik/wiki/WindowsInstallation">https://github.com/mapnik/mapnik/wiki/WindowsInstallation</a></p>

<p>To run the tests locally (without needing to install):</p>

{% highlight bash %}

    make test-local

{% endhighlight %}

<p>Install like:</p>

{% highlight bash %}
    sudo make install

{% endhighlight %}

If you need to uninstall do:

{% highlight bash %}
    sudo make uninstall

{% endhighlight %}

<p>For more details see the `Building` Section below, <a href="https://github.com/mapnik/mapnik/wiki/Mapnik-Installation">platform specific install guides</a>, and <a href="https://github.com/mapnik/mapnik/wiki/InstallationTroubleshooting">troubleshooting help</a>.</p>


<h2 id='depends'>Depends</h2>

<p>Build system dependencies are:</p>

 <ul>
	<li>C++ compiler (like g++ or clang++)</li>
	<li>>= 2 GB RAM</li>
 <li>* Python 2.4-2.7 </li>
 <li>* Scons (a copy is bundled)</li>
</ul>

<p>Mapnik Core depends on:</p>

<p>
<ul>
	<li>Boost
    - >= 1.47 is required.
    - These libraries are used:
      - filesystem
      - system
      - thread (if mapnik threadsafe support is required, default on)
      - regex (optionally built with icu regex support)
      - program_options (optionally for mapnik command line programs)
 * libicuuc >= 4.0 (ideally >= 4.2) - International Components for Unicode
 * libpng >= 1.2.x - PNG graphics
 * libjpeg - JPEG graphics
 * libtiff - TIFF graphics 
 * libz - Zlib compression
 * libfreetype - Freetype2 for font support (Install requires freetype-config)
 * libxml2 - XML parsing (Install requires xml2-config)
 * libproj - PROJ.4 projection library
</li>
</ul>
</p>

<p>Mapnik Python bindings depend on:

 * Python 2.5-2.7 or >= 3.2 
 * Boost python
</p>

<p>Note: Python3k is supported, see: https://github.com/mapnik/mapnik/wiki/Python3k</p>

<p>Optional dependencies:</p>

 <p>
* Cairo >= 1.6.0 - Graphics library for output formats like PDF, PS, and SVG
    - pkg-config - Required for building with cairo support
    - pycairo - Python bindings for cairo
 * libpq - PostgreSQL libraries (For PostGIS plugin support)
 * libgdal - GDAL/OGR input (For gdal and ogr plugin support)
 * libsqlite3 - SQLite input (needs RTree support builtin) (sqlite plugin support)
 * libocci - Oracle input plugin support
 * libcurl - OSM input plugin support
</p>

<p>Instructions for installing many of these dependencies on
various platforms can be found at the Mapnik Wiki: <a href="https://github.com/mapnik/mapnik/wiki/Mapnik-Installation">https://github.com/mapnik/mapnik/wiki/Mapnik-Installation</a></p>




<h2 id='building'>Building</h2>

The build system uses SCons, a pure python equivalent to autotools or cmake.

We provide a simple Makefile wrapper that can be used like:

{% highlight bash %}
    ./configure && make && make install
{% endhighlight %}


For help on what options are accepted do:

{% highlight bash %}
    ./configure --help
{% endhighlight %}


To interact with the local copy of scons directly you can do:

{% highlight bash %}
    python scons/scons.py configure
{% endhighlight %}


You can also use a globally installed scons:

{% highlight bash %}
    scons configure
{% endhighlight %}


If you want to clean your build do:

{% highlight bash %}
    make clean
{% endhighlight %}


If you experience odd configure errors, try cleaning the configure caches:

{% highlight bash %}
    make distclean
{% endhighlight %}


To install in a custom location do:

{% highlight bash %}
    ./configure PREFIX=/opt/mapnik
{% endhighlight %}


To pass custom CXXFLAGS or LDFLAGS do:

{% highlight bash %}
    ./configure CUSTOM_CXXFLAGS="-g -I/usr/include" CUSTOM_LDFLAGS="-L/usr/lib"
{% endhighlight %}


To pass custom paths to a dependency, like boost, do:

{% highlight bash %}
    ./configure BOOST_INCLUDES=/opt/boost/include BOOST_LIBS=/opt/boost/lib
{% endhighlight %}


To pass custom paths to a dependency, like icu, do:

{% highlight bash %}
    ./configure ICU_INCLUDES=/usr/local/include ICU_LIBS=/usr/local/include
{% endhighlight %}


For more details on usage see: <a href="https://github.com/mapnik/mapnik/wiki/UsingScons">https://github.com/mapnik/mapnik/wiki/UsingScons</a>


<h2 id='testing-install'>Testing Installation</h2>

<p>You can run the Mapnik tests locally (without installing) like:

{% highlight bash %}
    make test-local # see the Makefile for how this works
{% endhighlight %}


Or you can install and test like:

{% highlight bash %}
    make install && make test
{% endhighlight %}


Many of the tests are written in python and you can run them individually like:

{% highlight bash %}
    make install
    python tests/python_tests/shapefile_test.py
{% endhighlight %}
</p>

<h2 id='learning-mapnik'>Learning Mapnik</h2>

<p><h3 id='help'>Help</h3></p>

<p>Mapnik has an active community of talented users and developers making beautiful maps.</p>

<p>If you need help or want to participate starting points include:</p>

<p>- Sign up and post to the mailing list: http://mapnik.org/contact/
- Join and ask questions on the #mapnik channel on irc://irc.freenode.net/mapnik
- Add your help questions to <a href="https://github.com/mapnik/mapnik-support">https://github.com/mapnik/mapnik-support</a>
</p>

<p><h3 id='cartographers'>Cartographers</h3></p>

<p>TileMill, which uses Mapnik internally, offers great step by step tutorials for
learning advanced map styling: <a href="http://mapbox.com/tilemill/docs/crashcourse/introduction/">http://mapbox.com/tilemill/docs/crashcourse/introduction/</a></p>

<h3 id='programmers'>Programmers</h3>

<p>Mapnik is great for building your own mapping applications. Visit <a href="https://github.com/mapnik/mapnik/wiki/LearningMapnik">https://github.com/mapnik/mapnik/wiki/LearningMapnik</a> for basic tutorials on how to programmatically use Mapnik.</p>

<h3 id='contributers'>Contributers</h3>

<p>Read docs/contributing.markdown for resources for getting involved with Mapnik development.</p>