<div class='content col12 clearfix fill-sky pad4y'>
	<div class='big light space-bottom2 center'>stacks built with mapnik</div>
	<div class='pad1y center lite'>
		<a class='dark' href='http://www.openstreetmap.org/'>OpenStreetMap</a> | <a class='dark' href='http://www.openstreetmap.org/'>Mapbox</a> | <a class='dark' href='https://cartodb.com/'>CartoDB</a> | <a class='dark' href='http://stamen.com/'>Stamen</a> | <a class='dark' href='http://www.mapquest.com/'>MapQuest</a> | <a class='dark' href='https://github.com/kosmtik/kosmtik'>Kosmtik</a>
	</div>
</div>