<!DOCTYPE html>
<html>

<head>
    {% include mapnik.meta %}
	<title>{{ page.title }}</title>
</head>

<body>
{% include stickynav.html %}
			{% assign author = site.data.author[page.author] %}

<div class="contain col12 clearfix">

		<div class='col2 stickymove pad2x fill-light'>
		{% for post in site.categories.mapnik limit:12 %}
			{% if post.type != 'install' %}
				<a class='block news' href="{{site.baseurl}}{{post.url}}">{{post.title}}</a> <span class='date'>{{post.date | date: "%b %d, %y" }} | {{post.author}}</span><br>
			{% endif %}
		{% endfor %}
		</div>

		<div class='col8 pad4x stickymove'>
			<a href='{{site.baseurl}}/news/'><h3 class='space-bottom2 big'>latest news</h3></a>
			<h1 class='space-bottom2' ><a href="{{site.baseurl}}{{post.url}}">{{ page.title }}</a></h1>
			<p>{{ page.date | date: "%b %d, %y" }}</p>
			
			<div class='col12 pad2y'>
				<div class='col6 small'>BY: <span class='pad1x'><img class='dot' src='{{ author[0].image }}' width='30'>
				{{ page.author }}</div></span>
			</div>

			<div class='col12 pad4y space-bottom4'>
				{{ content }}
			</div>

		</div>
</div>

   {% include footer.html %}
   {% include scripts.html %}

</body>
</html>


