<!DOCTYPE html>
<html>

<head>
    {% include mapnik.meta %}
	<title>{{ page.title }}</title>
</head>

<body>
	<!-- header -->
	<div class='splash'>
		<div class='gradient'>
			<div class='col12 clearfix prose'>
				<div class='col3 margin3 pad4y'>
					<h1 class='fancy dark'>mapnik</h1>
				</div>
				<div class='col4 space-top4 dark pad4y prose'>the core of geospatial visualization &amp; processing</div>
			</div>
			<div class='col7 margin3 pad2y dark big'>Mapnik combines pixel-perfect image output with lightning-fast cartographic algorithms, and exposes interfaces in C++, Python, and Node.</div>
		</div>
		<!-- map design -->
		<div class='module pad8y'></div>
	</div>
	
	<div class='full-content'>
		<!-- mapnik features -->
		<a name="code"></a>
				<div class='content prose col12 clearfix fill-white pad2'>
					<div class='col3 margin2 space-bottom2 pad2'>
						<h2 class='med'>core algorithms</h2>
						AGG library and offers world class anti-aliasing rendering with subpixel accuracy for geographic data
					</div>
					<div class='col3 space-bottom2 pad2'>
						<h2 class='med'>data access</h2>
						AGG library and offers world class anti-aliasing rendering with subpixel accuracy for geographic data
					</div>
					<div class='col3 space-bottom2 pad2'>
						<h2 class='med'>geometry operations</h2>
						AGG library and offers world class anti-aliasing rendering with subpixel accuracy for geographic data
					</div>
				</div>
			<!--</div>
		</div>-->


		<!-- code bindings -->
		<a name="code"></a>
		<div class='content col12 clearfix fill-gray pad2y'>
			<div class='prose col4 margin2 pad2y pad2x'>
	            <div class='big'>Mapnik in your language</div>
	            <p class='space-top1'>Mapnik's high-quality bindings let's you choose from Node.js, Python, and C++.</p>
					<div class='col12 pill'><!--
					  --><a href='https://github.com/mapnik/node-mapnik' class='button stroke light short col6'>Node.js</a><!--
					  --><a href='http://mapnik.org/docs/v2.2.0/api/python/index.html' class='button light stroke short col6'>Python</a>
					</div>
				</div>

			<div class='col6 pad2x clearfix'>
				<div class='col12 pad2y clearfix'>

					<div class="container">
						<ul class='tabs'>
				            <li class='tab-link current' data-tab='tab-1'>Python</a></li><!--
					  --><li class='tab-link' data-tab='tab-2'>Node</a><!--
					  --><li class='tab-link' data-tab='tab-3'>C++</a>
						</ul>
						<div id="tab-1" class="tab-content current">
{% highlight python %}
import mapnik
m = mapnik.Map(256,256)
mapnik.load_map(m, 'path/to/file.xml')
m.zoom_all()
mapnik.render_to_file(m, 'the_image.png')
{% endhighlight %}
					</div>

					<div id="tab-2" class="tab-content">
{% highlight javascript %}
var mapnik = require('mapnik');
var fs = require('fs');
// register fonts and datasource plugins
mapnik.register_default_fonts();
mapnik.register_default_input_plugins();
var map = new mapnik.Map(256, 256);
map.load('./test/stylesheet.xml', function(err,map) {
	if (err) throw err;
	map.zoomAll();
	var im = new mapnik.Image(256, 256);
	map.render(im, function(err,im) {
		if (err) throw err;
		im.encode('png', function(err,buffer) {
			if (err) throw err;
			fs.writeFile('map.png',buffer, function(err) {
				if (err) throw err;
				console.log('saved map image to map.png');
			});
		});
	});
});
{% endhighlight %}
					</div>

					<div id="tab-3" class="tab-content">
{% highlight python %}
#include <mapnik/map.hpp>
#include <mapnik/load_map.hpp>
#include <mapnik/agg_renderer.hpp>
#include <mapnik/image.hpp>
#include <mapnik/image_util.hpp>

main() {
	mapnik::Map m(256,256);
	mapnik::load_map(m, 'path/to/file.xml');
	m.zoom_all();
	mapnik::image_rgba8 im(256,256);
	mapnik::agg_renderer<mapnik::image_rgba8> ren(m, im);
	ren.apply();
	mapnik::save_to_file(im, 'the_image.png');
}
{% endhighlight %}
						</div>

					</div>
		        </div>
	        </div>
		</div>


	<!-- xml stylesheets -->
	<a name="xml"></a>
	<div class='content col12 clearfix fill-light pad4y'>

		<div class='col3 margin2 pad2y pad4x space-bottom2'>
			<h2 class='big'>Single XML stylesheet</h2>
			<div class='col12 pad2y'>Write only one style for your map regardless of the code binding.</div>
			<a href='https://github.com/mapnik/mapnik/wiki/XMLConfigReference' class='button stroke light short col12'>XML Configuration</a>
		</div>

		<div class='col7 fill-white'>
{% highlight xml linenos %}
<Map background-color="blue" srs="+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs">
	<Style name="My Style">
		<Rule>
			<PolygonSymbolizer fill="#f2eff9" />
			<LineSymbolizer stroke="rgb(50%,50%,50%)" stroke-width="0.1" />
		</Rule>
	</Style>
	<Layer name="world" srs="+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs">
		<StyleName>My Style</StyleName>
		<Datasource>
			<Parameter name="file">ne_110m_countries.shp</Parameter>
		</Datasource>
	</Layer>
</Map>
{% endhighlight %}
		</div>
	</div>
<!--</div>-->

	<!-- extend apps -->
	<a name="extend"></a>
	<div class='content col12 clearfix fill-sky pad4y'>
		<div class='col9 margin2 big light space-bottom2 center'>stacks built with mapnik</div>

		<div class='col9 margin2 pad1y center lite'>
			OpenStreetMap | Mapbox | CartoDB | Stamen | MapQuest | Kosmtik
		</div>
	</div>

	<div class='content col12 center caption small fill-sea dark pad1y'>
		Copyright © 2013 Artem Pavlenko
	</div>
  <!-- end content -->
</div>
</body>
</html>

