<!DOCTYPE html>
<html>

<head>
    {% include mapnik.meta %}
	<title>{{ page.title }}</title>
</head>

<body>
	<div class='grid'>
		<!-- side nav -->
		<div class='hide-mobile pin-left pint-top pin-bottom col3 quiet-scroll scroll-styled fixed fill-gray'>
			<div class='clearfix fill-blue dark center pad1y'><a href="/splash.html"><h3>MAPNIK</h3></a> + Python
				<div class='col12 inline pad2y'>
					<div class='pill col12 margin1 fill-blue'><!--
			  			--><a href='#' class='button fill-lighten1 short col3'>docs</a><!--
			  			--><a href='#' class='button fill-lighten1 short col3'>api</a><!--
			 			--><a href='#' class='button fill-lighten1 short col4'>examples</a>
					</div>
				</div>
			</div>
			<div class='small fill-gray pad2x'>
				<div class='pad1y'>
					<h3 class='pad1y'>Section 1</h3>
					    <nav class='col12 pad1'>
					      <a class='block' href='#'>Welcome</a>
					      <a class='block' href='#'>Where to go</a>
					      <a class='block' href='#'>Places to stay</a>
					      <a class='block' href='#'>Mars only offers</a>
					      <a class='block' href='#'>Book online today</a>
					    </nav>
				</div>

				<div class='pad1y'>
					<h3>Section 2</h3>
					    <nav class='col12 pad1'>
					      <a class='block' href='#'>Welcome</a>
					      <a class='block' href='#'>Where to go</a>
					      <a class='block' href='#'>Places to stay</a>
					      <a class='block' href='#'>Mars only offers</a>
					      <a class='block' href='#'>Book online today</a>
					    </nav>
				</div>

			</div>
		</div>

		<!-- content -->
		<div class='col6 fill-white limiter margin3 pad2x pad2y'>
      	Content area
    	</div>
  </div>


</body>
</html>