<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    {% include mapnik.meta %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="wrap-front">
      <div id="header">
        <a href="/">
          <img src="/images/mapnik-logo.png" />
        </a>
      </div>
      {% include navbar.html %}
      <div class="banner-center">
        <img alt="front banner" src="/images/front_banner_top.png" />
      </div>
      
      <div style="margin-top:0.5em;margin-bottom:0.5em;height:180px;background:#cfdde9;">
        <p>
          <div id="portlet-clear" class="frontcolumn">
            <h1>Welcome</h1>
            <p>
              Mapnik is a <a href="/licence/">Free</a> Toolkit for developing mapping applications. Above all Mapnik is about making beautiful maps. It is easily extensible and suitable for both desktop and web development. <a href="/faq/"> More ...</a>
            </p>
          </div>
          <div  id="portlet-clear" class="frontcolumn">
            <h1>Getting Started</h1>
            <ul>
              <li><a href="/download/">Get source!</a></li>
              <!--<li><a href="/documentation/install/">Installation Guide</a></li>-->
              <li><a href="https://github.com/mapnik/mapnik/wiki">Documentation (Github Wiki)</a></li>
            </ul>
          </div>
          <div id="portlet-clear" class="frontcolumn">
            <h1>Support Mapnik</h1>
            <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_xclick"/>
              <input type="hidden" name="business" value="artem@mapnik.org"/>
              <input type="hidden" name="item_name" value="Support Mapnik!"/>
              <input type="hidden" name="currency_code" value="GBP"/>
              <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Support Mapnik!"/>
            </form>
          </div>
        </p>
      </div>
      <div class="banner-center">
        <img alt="front banner" src="/images/front_banner_bottom.png" />
      </div>
      <div id="footer">
        Copyright &copy; 2011 Artem Pavlenko
      </div>
    </div>
  </body>
</html>
